.code{
    color: #0c4ecd;
    font-size: large;
    font-style: italic;
}
.pre-code{
    background: #dfd5d5;
    border-radius: 25px;
    border: 1px solid #796f6f;
}
.pre-result{
    background: #8fdf6f;
    border-radius: 25px;
    border: 1px solid #796f6f;
}
.result{
    color: #0d880d;
    font-size: large;
    font-style: italic;
}